
* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bgimage {
    background-image: url("ryan-plomp-jvoZ-Aux9aw-unsplash.jpg");
    background-size: 700px;
    height: 700px;
}
li > a:hover {
    color: purple;
}
.link > a { 
    float: right;
    font-weight: bolder;
    display: inline;
    color: palevioletred;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: underline;
}
ul {
    list-style-type: none;
}
.logo>img {
    width: 50px;
    height: 50px;
    margin-left: 60px;
    margin-top: 10px;
    border-radius: 70px;
}
.name {
    margin-left: 20px;
}
.slogan {
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
    color: palevioletred;
}
.text {
    color: rgb(113, 113, 202);
    font-size: 30px;
    font-weight: bold;
}
button {
    color: palevioletred;
    font-size: 20px;
    text-align: center;
    margin-left:600px;
    margin-top: 20px;
}
button:hover {
    color: purple;
}
.one, .two, .three {
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
    

}
#main {
    background-color: rgb(147, 147, 207);
    display: flex;
    height: 400px;
    gap: 30px;
    justify-content: center;
}
.flexa, .flexb, .flexc {
    margin-top: 100px;
    flex-basis: 400px;
    margin-left: 20px;    
}
.aboutus {
    background-color: white;
}
.aboutus {
    height: 200px;
    width: 1000px;
    margin-left: 150px;
    margin-top: 100px;
}
.description>p {
    float: right;
    width: 400px;
    height: 80px;
    text-wrap: wrap;
    margin-top: -15px;
    border-left: 1px solid black;
    padding: 10px;
    }
.icons>img {
    /* margin-top: 50px; */
    margin-left: 20px;
    padding: 5px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.footer {
    background-color: rgb(147, 147, 207);
    /* height: 250px; */
    padding-top: 10px;
}
.ul {
    float: right;
}
.brand > h3 {
    margin-bottom: 10px;
    margin-left: 30px;
}
 .brief {
    float: left;
    width: 200px;
    margin-left: 30px;
}
.copy {
    margin-top: 150px;
    text-align: center;
}
.links {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 5px;
}
.links, li > a {
    color: black;
    text-decoration: none;
}

@media (max-width: 600px){
    #main {
        display: flex;
        flex-direction: column;
        height: 850px;
        
    }
}

